* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: Merriweather, serif;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1550px;
  display: flow-root;
}