@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}